body {
    font-family: 'Lato', sans-serif;
}

.banner-text {
    font-size: 70px;
    font-weight: 900;
}

.feature-card {
    transition: all ease 0.5s;
}

.feature-card:hover {
    margin-top: -20px;
    /* border: 1px solid red, */
}

.feature-card:hover {
    text-align: right;
}

.feature-card {
    transition: all ease 0.8s;
}